* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: 100%;
    padding: 0 115px;

}

.left {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    height: 60px;
    width: 20%;
}

.left img {
    width: 50px;
    height: 42px;
}

.logo {
    padding-left: 62px;

}

.companyName h1 {
    font-size: 3rem;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    background: linear-gradient(to bottom, #0011FF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.right {
    height: 64px;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 6px;
}

.signIn {
    height: 42px;
    width: 110px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 14px;
    outline: none;
    color: whitesmoke;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
}

.signUp {
    height: 42px;
    width: 110px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 14px;
    outline: none;
    color: whitesmoke;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
}

main {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    background-color: #000000;
    color: white;
}


.Hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 115px;

}

.inner-right-image img {
    width: 550px;
    height: 500px;
    margin: 15px 0;
}

.main-text h1 {
    font-size: 6rem;
    font-weight: 300;
}

.description {
    height: 150px;
    width: 300px;
}

.description p {
    font-size: 2rem;
}

.hero-btn {
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
}

.hero-btn button {
    height: 40px;
    width: 110px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 14px;
    font-weight: 600;
    margin-top: 12px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

footer {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    background-color: #001427;
    height: 60vh;
    padding-top: 50px;
}

.grid-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}


.grid-footer li {
    list-style-type: none;
    line-height: 2;
    font-size: 1.5rem;

}


.grid-footer a {
    text-decoration: none;
    color: white;
    margin-bottom: 30px;

}

.grid-footer h5 {
    color: gray;
    margin-bottom: 20px;
}

.grid-footer img {
    height: 35px;
    width: 40px;
}

.grid-footer h4 {
    font-size: 3.5rem;
    background: linear-gradient(to right, #0011FF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid-footer button {
    height: 40px;
    width: 120px;
    outline: none;
    border: 2px solid rgb(252, 252, 252);
    border-radius: 12px;
    margin: 27px 0 0 25px;
    font-weight: 600;
    font-size: 0.8rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    background: #00d9ff;
    color: #121212;
    box-shadow: 0 0 15px #00d9ff, 0 0 30px #00d9ff;
    transform: translateY(-2px);
}

.footer-left-ele {
    height: 171px;
    width: 230px;
    color: white;
}

.inner-left-footer-ele1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-left-footer-ele2 {
    padding-left: 48px;
}

.end-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 84px;
    border-top: 3px solid white;
    color: white;
}

.end-footer img {
    height: 26px;
    width: 26px;
    margin: 0 4px;
}