* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: 100%;
    padding: 0 76px;
}

header .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .left img {
    height: 40px;
}

.left h1 {
    font-size: 3rem;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    background: linear-gradient(to bottom, #0011FF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right button{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    outline: none;
    padding: 10px 30px;
    color: whitesmoke;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
}

main {

    background-color: #000000;
    color: white;
    height: 80vh;
}


.Hero-section {
    height: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 115px;
}

.inner-right-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    min-width: 373px;
    height: 90%;
    width: 60%;
}

.inner-right-image img {
   height: 100%;
   width: 100%;
   object-fit: contain;
}

.inner-left-text{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.main-text h1 {
    font-size: 6rem;
    font-weight: 300;
    font-family: "Jaro", sans-serif;
}

.main-inner p {
    font-size: 1.5rem;
    font-family: sans-serif;
}

.hero-btn {
    display: flex;
    justify-content: space-between;
    width: 280px;
    align-items: center;
}

.hero-btn button {
    width: 130px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 14px;
    font-weight: 600;
    margin-top: 12px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 10px 0;
}

.fact{
    font-size: 1.5rem;
    padding-left: 115px;
    height: 50px;
}

footer {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    background-color: #001427;
    min-height: 60vh;
    padding-top: 50px;
}

.grid-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    padding: 0 30px;
}


.grid-footer li {
    list-style-type: none;
    line-height: 2;
    font-size: 1.5rem;

}


.grid-footer a {
    text-decoration: none;
    color: white;
    margin-bottom: 30px;

}

.grid-footer h5 {
    color: gray;
    margin-bottom: 20px;
}

.in-foot-img{
    height: 39px;

}

.grid-footer img {
    height: 41px;
    width: 40px;
}

.grid-footer h4 {
    font-size: 3.5rem;
    background: linear-gradient(to right, #0011FF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid-footer button {
    height: 40px;
    width: 140px;
    outline: none;
    border: 2px solid rgb(252, 252, 252);
    border-radius: 25px;
    margin: 18px 0 0 20px;
    font-weight: 600;
    font-size: 0.8rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    background: #00d9ff;
    color: #121212;
    box-shadow: 0 0 15px #00d9ff, 0 0 30px #00d9ff;
    transform: translateY(-2px);
}

.footer-left-ele {
    height: 171px;
    width: 230px;
    color: white;
}

.inner-left-footer-ele1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 235px;

}

.inner-left-footer-ele2 {
    padding-left: 48px;
}

.inner-left-footer-ele2 p{
    padding-left: 10px;
    font-size: 1.2rem;
}

.end-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 84px;
    border-top: 3px solid white;
    color: white;
}

.end-footer a{
    text-decoration: none;
    color: white;
}

.end-footer div:last-child{
    display: flex;
    gap: 4px ;
}

@media screen and (max-width: 768px) {
    header{
        padding: 0 10px;
    }

    .Hero-section {
        flex-direction: column;
        gap: 5px;
    }
}
